{% extends 'base.html' %}
{% load static %}
{% block title %}创建账号{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register1.css' %}">
<div class="form">
  <div class="account">
    <p>账号:</p>
    <input  type="text" id="account" name="account">
  </div>
  <div class="name">
    <p>昵称:</p>
    <input  type="text" id="name" name="name">
  </div>
  <div class="phone">
    <p>手机号码:</p>
    <input  type="text" id="phone" name="phone">
  </div>
  <div class="password">
    <p>密码:</p>
    <input  type="text" id="password" name="password">
  </div>
  <div class="password2">
    <p>确认密码:</p>
    <input  type="text" id="password2" name="password2">
  </div>
  <button type="submit" id="confirm-btn" onclick="homePage()">注册</button>
  
</div>
<!-- 引用静态 JavaScript 文件 -->
<script src="{% static 'js/register1.js' %}"></script>
{% endblock %}