.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column; /* 确保内部元素垂直排列 */
  
}

.form div {
  margin-bottom: 15px;
  display: flex; /* 确保每个表单项内部元素水平排列 */
  flex-direction: column; /* 确保每个表单项内部元素垂直排列 */
}

.form p {
  margin: 0;
  color: #333;
  font-weight: bold;
}

.form input[type="text"],
.form input[type="password"] {
  width: calc(100% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  border-color: #b6c6fc;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4d9de7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #55c9f7;
}